name: Deploy to Firebase Hosting

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Deploy to Firebase Hosting
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT }}'
          channelId: live
          projectId: westleyresource-5131d

      - name: Send deployment event to Dynatrace
        uses: dynatrace-oss/dynatrace-github-action@v9
        with:
          url: ${{ secrets.DT_URL }}
          token: ${{ secrets.DT_TOKEN }}
          events: |
            - type: CUSTOM_DEPLOYMENT
              properties:
                job: "Deploy to Firebase Hosting"
                status: "success"
                version: "${{ github.sha }}"
